.App {
  font-family: sans-serif;
  /* text-align: center; */
}
body {
  margin: 2rem;
  background-color: #111;
  color: #fff;
}
button {
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 5px;
  outline: none;
  border-style: none;
  font-size: 1.2rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  letter-spacing: 1.2px;
  cursor: pointer;
}
li {
  display: flex;
  justify-content: center;
  align-items: top;
  margin-bottom: 1rem;
  border-radius: 1rem;
}
img {
  min-height: 200px;
  width: 200px;
  object-fit: fill;
  padding: 1rem 0rem 1rem 1rem;
  border-radius: 10%;
}
ul {
  padding-inline-start: 0;
}
